/* Google Fonts import URL */

@import url("https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&family=Are+You+Serious&family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,700;1,100;1,200;1,300;1,400;1,700&display=swap");

* {
    margin: 0;
    padding: 0;
}

/* General styles */

body {
    text-align: center;
    width: 100vw;
    height: 100vh;
    background: url(../images/pexels-magda-ehlers-4116706.webp) no-repeat center center/cover;
    /* Fall-back color, if the image doesn't load */
    background-color: #91D5EA;
    display: flex;
    font-family: "Annie Use Your Telescope", sans-serif;
}

.game-area{
    background-color: rgba(251, 288, 234, 0.7);
    margin: 35px auto;
    height: 80%;
    width: 80%;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

h1 {
    font-family: "Are You Serious", serif;
    font-size: 3rem;
    color: #78278A;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 5px;
}

/* Footer */
footer {
    margin-top: auto;
}

.britishcouncil a {
    text-decoration: none;
    color: #78278A;
    font-variant: small-caps;
    font-size: 140%;
}

.scl-net {
    text-decoration: none;
    list-style-type: none;
    padding-left: 0;
}

.scl-net li {
    display: inline-block;
    font-size: 130%;
}

.scl-net i {
    color: #78278A;
    padding: 0 10px;
}

/* larger or landscape phones (768px or larger) */
@media screen and (min-width: 768px) {
    .btm-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-end;
    }
}